/*hover color  64c29e*/
/*font color 4d4959*/



body{
    font-family: 'Lato', sans-serif;
}

.banner-main{
    height: 100vh;
    background-image: url("../bimages/main-banner.png") ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
@media screen and (min-width:768px){
    .top-nav ul li{
        text-align: center;
        display: inline-block;
        
    }
    .top-nav .navbar-brand{
        display: none;
    }
    
    
}

/*top nav*/
.top-nav{
background: transparent;
    border: 0;
    padding: 34px 0px;
}

.top-nav ul li a{
    color: #4d4959;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0px 40px;
    word-spacing: 2px;
}

.top-nav ul li a:hover,
.top-nav ul li a:active,
.top-nav ul li a:focus{
    background: transparent;
    color: #64c29e;
}

@media screen and (max-width:768px){
    .top-nav ul span{
        display: none;
    }
    .top-nav ul li.nav-logo{
        display: none;
    }
    .top-nav {
        background-color: rgba(77, 73, 89 , .8);
    }
    .top-nav ul li a {
        color:#fff;
        padding: 15px 0px;
    }
    .top-nav{

    padding: 0px;
}

}

.top-nav .navbar-header .navbar-brand{
    padding: 5px;
}
.top-nav .navbar-header {
  
}







